* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --main-color: #2efefe;
  --main-color70: #2efefeb3;
  --main-color30: #2efefe4d;
  --second-color: #2a2a2a;
  --third-color: #2b2b2b;
  --text-color: white;
  --editor-color: #161616;

  --bg-grad: linear-gradient(#242424, #1e1e1e);
  --bg-modal-grad: linear-gradient(
    rgba(0, 0, 0, 0.5) 71%,
    rgba(6, 22, 51, 0.5) 100%
  );

  --red-color: #e93131;
  --green-color: #00ff44;
  --gray-color: #333;
  --font-size: 18px;

  --success-color: #46af51;
  --unsuccess-color: #e84646;
  --header-height: 80px;
  --padding-content-height: 50px;
  --padding-content-width: 100px;
  --padding-content-width-small: 20px;
  color: var(--text-color);

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: var(--font-size);
}

.fc {
  font-family: "Comfortaa";
}
.fa {
  font-family: "Anton";
}
h1 {
  font-weight: 500;
  font-size: 24px;
}
h2 {
  font-weight: 500;
  font-size: 20px;
}
/* SCROLL */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: var(--second-color);
}
::-webkit-scrollbar-thumb {
  overflow-x: none;
  background-color: var(--main-color);
}
